@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

:root {
  --sl-font: 'Inter Variable', sans-serif;
}

.site-title {
  font-family: 'Pixelify Sans Variable', system-ui;
  align-items: center;
  gap: var(--sl-nav-gap);
  font-size: var(--sl-text-h2);
  font-weight: 400;
  color: var(--sl-color-text-accent);
  text-decoration: none;
  white-space: nowrap;
}

.hero > img,
.hero > .hero-html {
  width: 250px;
  object-fit: contain;
  margin-inline: auto;
}
